<h2>Create</h2>
<form class="form-horizontal" name="frmAddUser" ng-submit="createUser(user)" novalidate>
    <h4>Create a new user</h4>
    <hr />

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="name" ng-model="user.Name" ng-maxlength="32" required />
            <span class="text-danger" ng-show="(frmAddUser.name.$touched || frmAddUser.name.$dirty) && frmAddUser.name.$invalid">
                <span ng-show="frmAddUser.name.$error.required">Name is required</span>
                <span ng-show="frmAddUser.name.$error.maxlength">Name must be less than 33 characters</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="email" class="form-control" name="mail" ng-model="user.Email" ng-maxlength="50" required />
            <span class="text-danger" ng-show="(frmAddUser.mail.$touched || frmAddUser.mail.$dirty) && frmAddUser.mail.$invalid">
                <span ng-show="frmAddUser.mail.$error.required">Email is required</span>
                <span ng-show="frmAddUser.mail.$error.email">Invalid email address<br /></span>
                <span ng-show="frmAddUser.mail.$error.maxlength">Email must be less than 51 characters<br /></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Address</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="address" ng-model="user.Address" ng-maxlength="50" ng-minlength="2"/>
            <span class="text-danger" ng-show="frmAddUser.address.$dirty && (frmAddUser.address.$error.minlength || frmAddUser.address.$error.maxlength)">
                Address must be in range 2 to 50
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Create" ng-disabled="frmAddUser.$invalid" />
            <a href="#/" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>